main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-header{
  margin-top: 80px;
}
.home-header_title, .home-content_text{
  font-size: 1.8rem;
}
.home-content_text{
  font-size: 1.8rem;
}
.home-title{
  margin-top: 40px;
}
.footer_link{
  font-size: 1.2em;
  text-decoration: none; 
}