.image-description {
    display:flex;
    height:100vh;
    flex-direction:column;
    justify-content: flex-end;
}

.image {
    height: 100%;
    display: flex;
}

.image img {
    height: 100%;
    max-width: 100%;
}

.description {
    background: #000;
}

.description h2 {
    font-size:0.875rem;
}

.description h3 {
    font-size:0.8rem;
}

.description h2, .description h3{
    margin: 5px 0 0 0;
    font-weight: normal;
}

.description p {
    font-size: 12px;
}

.description a {
    font-style: italic;
    font-size: 12px;
    color: white;
}

.desc-node-enter {
    opacity: 0;
}

.desc-node-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.desc-node-exit {
    opacity: 1;
}

.desc-node-exit-active {
    opacity: 0;
    transition: opacity 300ms;  
}

.desc-node-exit-done{
    display:none;
}