.description {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    z-index: 30;
    padding: 20px;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-image: linear-gradient(0deg, #000, #000);
    text-align: left;
    box-sizing: border-box;
}

.description h2 {
    font-size:0.875rem;
}

.description h3 {
    font-size:0.8rem;
}

.description h2, .description h3{
    margin: 5px 0 0 0;
    font-weight: normal;
}

.description p {
    font-size: 12px;
}

.description a {
    font-style: italic;
    font-size: 12px;
    color: white;
}

.desc-node-enter {
    opacity: 0;
}

.desc-node-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.desc-node-exit {
    opacity: 1;
}

.desc-node-exit-active {
    opacity: 0;
    transition: opacity 300ms;  
}

.desc-node-exit-done{
    display:none;
}