:root {
    font-size: calc(15px + 6*(100vw - 320px)/680);
}

#App,
#root,
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff!important;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

main {
    display: block;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.8em;
}

h1,
h2,
h3 {
    font-family: 'PT Serif', serif;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
}

.normal-case {
    text-transform: none;
}

.text-2xl {
    font-size: 1.5rem;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.fullBG {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: auto;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-image: linear-gradient(0deg, #145185, #1868AC);
}

.blue-bg {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-image: linear-gradient(0deg, #145185, #1868AC);
    height:100%;
}

.nh3-univers {
    List-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nh3-univers h2 {
    text-align: center;
    border: 2px solid #fff;
    padding: .4em .3em;
    font-size: 1.25rem;
}

.nh3-univers h2 a {
    text-decoration: none;
}

.slogan {
    font-style: italic;
}

.btn__primary {
    border: 2px solid #fff;
    padding: .5em 1.5em;
    text-transform: uppercase;
}

.btn__secondary {
    border: 2px solid #fff;
    padding: .5em 0.5em;
}

a.btn__primary,
.btn {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

a {
    color: #fff;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.mt-auto {
    margin-top: auto;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}