.App {
  font-family: sans-serif;
  text-align: center;
}

html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
  /*overflow: hidden;*/
  background-color:black;
  color:rgb(214, 214, 214);
}

button#openCamera{
  text-align: center;
}

#target, #target img, #mosaic canvas,
#mosaic{
  position:absolute;
  width:100%;
  left:0;
}

#mosaic{
  z-index:10;
}

#intro{
  text-align: center;
  margin:0 0 20px 40px;
} 