.App {
  font-family: sans-serif;
  text-align: center;
}

body{
  overflow: hidden;
}

button#openCamera{
  text-align: center;
}

#target, #target img, #mosaic canvas,
#mosaic{
  position:absolute;
  width:100%;
  left:0;
}

#mosaic{
  z-index:10;
}

#intro{
  text-align: left;
  margin:0 0 20px 40px;
} 