.App {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
  background-color:black;
  color:rgb(238, 238, 238);
  width:100%;
  margin: 0;
  overflow:hidden;
}

#target, #target img, #mosaic canvas,
#mosaic{
  position:absolute;
  width:100%;
  height:auto;
  left:0;
}

#mosaic{
  z-index:10;
}

#intro{
  text-align: center;
  padding: 10px 0 20px 0;
  background: rgb(73, 127, 245);
  margin: 0 0 1px 0;
} 